<head>
	
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f0f0f0;
		}
		
		form {
			background-color: #fff;
			padding: 20px;
			margin: 20px auto;
			max-width: 500px;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
			border-radius: 5px;
		}
		
		input[type="email"], input[type="password"] {
			display: block;
			margin-bottom: 10px;
			padding: 10px;
			width: 100%;
			border-radius: 5px;
			border: 1px solid #ccc;
			box-sizing: border-box;
			font-size: 16px;
		}
		
		input[type="submit"] {
			background-color: #0072c6;
			color: #fff;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}
		
		input[type="submit"]:hover {
			background-color: #005ea2;
		}
        .login{
            margin-left: 12rem;
            font-size: xx-large;
            font-weight: bolder;
        }
	</style>
</head>
<body>
	<form action="/login" method="POST">
	{{#if loginErr}}
	  <p style="color:red">Invalid Username or Password</p>
	{{/if}}
		<h2 class="login">login</h2>
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" placeholder="Enter your email address">
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" placeholder="Enter your password">
		<input type="submit" value="Submit">
        	<div class="create-account">
			Create new account? <a href="/register">Register here</a>
		</div>
		 <div style="margin-top: 16px;">
    <a href="admin/adminLogin">
    <button class="glow-on-hover" type="button">ADMIN MODE</button>
  </a>
  </div>
	</form>
</body>